
@font-face {
    font-family: Pixel;
    src: url(PressStart2P.ttf);
}

body,html {
	width: 100%;
	height: 100%;
	background-color: black;
  overflow: hidden;
}

#canvas {
  position: fixed;
	width: 100%;
  height: 100%;
  background-color: black;
}
#preloadfont {
  font-family: Pixel;
  opacity:0;
  height:0;
  width:0;
  display:inline-block;
}